@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');




/* 


░█████╗░██╗░░░░░░█████╗░░██████╗░██████╗███████╗░██████╗  ██████╗░███████╗ 
██╔══██╗██║░░░░░██╔══██╗██╔════╝██╔════╝██╔════╝██╔════╝  ██╔══██╗██╔════╝
██║░░╚═╝██║░░░░░███████║╚█████╗░╚█████╗░█████╗░░╚█████╗░  ██║░░██║█████╗░░
██║░░██╗██║░░░░░██╔══██║░╚═══██╗░╚═══██╗██╔══╝░░░╚═══██╗  ██║░░██║██╔══╝░░
╚█████╔╝███████╗██║░░██║██████╔╝██████╔╝███████╗██████╔╝  ██████╔╝███████╗
░╚════╝░╚══════╝╚═╝░░╚═╝╚═════╝░╚═════╝░╚══════╝╚═════╝░  ╚═════╝░╚══════╝

████████╗███████╗██╗░░██╗████████╗░█████╗░
╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝██╔══██╗
░░░██║░░░█████╗░░░╚███╔╝░░░░██║░░░██║░░██║
░░░██║░░░██╔══╝░░░██╔██╗░░░░██║░░░██║░░██║
░░░██║░░░███████╗██╔╝╚██╗░░░██║░░░╚█████╔╝
░░░╚═╝░░░╚══════╝╚═╝░░╚═╝░░░╚═╝░░░░╚════╝░


*/


a, h1, h2, span {
  list-style: none;
  text-decoration: none;
}

.link {
  font-size: 1em;
  color: var(--black);
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #fff;
  --white-light: #f8fbfb;
  --black: #333;
  --blue: #0b5cf4;
  --blue-light: #01c2ff;
  --grey: #d1d2d3;
  --blue-light: #01c2ff;
}

body {
  background-color: var(--white);
  color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

button {
  cursor: pointer;
  border: solid 2px var(--blue);
  color: var(--blue);
  background-color: transparent;
  padding: 10px 20px;
  font-weight: 700;
  gap: 10px;
  border-radius: 0.2rem;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--blue);
  color: var(--white);
}

header {
  text-align: center;
  color: var(--black);
  border-bottom: solid 1px var(--grey);
  height: 85px;

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }
  

  .link::after {
    content: "";
    display: block;
    background-color: var(--blue);
    width: 0;
    height: 2px;
    left: 5px;
    margin-top: 3px;
    transition: all 300ms ease-in-out;
  }

  .link:hover::after {
    width: 35px;
  }

  img {
    object-fit: contain;
    width: 180px;
    height: 80px;
    border-radius: 0.2rem;
  }
}

.grid-layout {
  max-width: 1140px;
  margin: 0 auto;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}

main #s-hero {
  max-width: 1440px;
  height: 669px;
}

main #s-hero .grid-layout {
  max-width: 1140px;
  height: 395px;
  background-color: grey;
  margin: 137px auto;
}




/* 


██████╗░███████╗░██████╗██████╗░░█████╗░███╗░░██╗░██████╗██╗██╗░░░██╗██╗██████╗░░█████╗░██████╗░███████╗
██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗████╗░██║██╔════╝██║██║░░░██║██║██╔══██╗██╔══██╗██╔══██╗██╔════╝
██████╔╝█████╗░░╚█████╗░██████╔╝██║░░██║██╔██╗██║╚█████╗░██║╚██╗░██╔╝██║██║░░██║███████║██║░░██║█████╗░░
██╔══██╗██╔══╝░░░╚═══██╗██╔═══╝░██║░░██║██║╚████║░╚═══██╗██║░╚████╔╝░██║██║░░██║██╔══██║██║░░██║██╔══╝░░
██║░░██║███████╗██████╔╝██║░░░░░╚█████╔╝██║░╚███║██████╔╝██║░░╚██╔╝░░██║██████╔╝██║░░██║██████╔╝███████╗
╚═╝░░╚═╝╚══════╝╚═════╝░╚═╝░░░░░░╚════╝░╚═╝░░╚══╝╚═════╝░╚═╝░░░╚═╝░░░╚═╝╚═════╝░╚═╝░░╚═╝╚═════╝░╚══════╝

██╗░░██╗███████╗░█████╗░██████╗░███████╗██████╗░
██║░░██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗░░███████║██║░░██║█████╗░░██████╔╝
██╔══██║██╔══╝░░██╔══██║██║░░██║██╔══╝░░██╔══██╗
██║░░██║███████╗██║░░██║██████╔╝███████╗██║░░██║
╚═╝░░╚═╝╚══════╝╚═╝░░╚═╝╚═════╝░╚══════╝╚═╝░░╚═╝



*/


@media (max-width: 768px) {

  .grid-layout{
    background: purple;
  }

}


