@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #333;
  --blue: #0b5cf4;
  --blue-light: #01c2ff;
  --grey: #d1d2d3;
  --green-light: #01c2ff;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

button {
  cursor: pointer;
  border: solid 2px var(--blue);
  color: var(--blue);
  background-color: transparent;
  padding: 10px 20px;
  font-weight: 700;
  gap: 10px;
  border-radius: 0.2rem;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--blue);
  color: var(--white);
}

header {
  text-align: center;
  color: var(--black);
  border-bottom: solid 1px var(--grey);

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }

  li {
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }

  a {
    color: var(--black);
    text-decoration: none;
  }

  img {
    width: 100px;
    border-radius: 0.2rem;
  }
}

.grid-layout {
  max-width: 1140px;
}

footer {
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}
