main {
  display: flex;
  flex-direction: column;
}

#s-hero {
  margin-top: 150px;
}

.content-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.box-headline {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box-headline .button {
  width: 350px;
}

#acoes {
  width: 50%;
}

#circle {
  position: absolute;
  left: 0px;
  top: 200px;
}

.box-mouse {
  margin-top: 10px;
  text-align: center;
  height: 100px;
}

#mouse {
  animation: go-up 1s infinite alternate;
}

@keyframes go-up {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

#quem-somos {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 0;
  gap: 24px;
  background-color: var(--white-light);

  span {
    margin: 20px 0;
    width: 80%;
  }

  img{
    margin-top: 12px;
  }

  img,
  span {
    width: 80%;
    align-self: center;
  }
}

#s-cards {
  background-color: var(--gray-light);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#cards-area {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card,
.card2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 30rem;
}

.card2 {
  background-color: var(--green-light);
}

.icon,
.icon2 {
  font-size: 3rem;
  color: var(--blue-light);
  margin: 20px 0;
}

.icon2 {
  color: var(--black);
}

/* 

██████╗░███████╗░██████╗██████╗░░█████╗░███╗░░██╗░██████╗██╗██╗░░░██╗███████╗  ██╗░░██╗███████╗██████╗░░█████╗░
██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗████╗░██║██╔════╝██║██║░░░██║██╔════╝  ██║░░██║██╔════╝██╔══██╗██╔══██╗
██████╔╝█████╗░░╚█████╗░██████╔╝██║░░██║██╔██╗██║╚█████╗░██║╚██╗░██╔╝█████╗░░  ███████║█████╗░░██████╔╝██║░░██║
██╔══██╗██╔══╝░░░╚═══██╗██╔═══╝░██║░░██║██║╚████║░╚═══██╗██║░╚████╔╝░██╔══╝░░  ██╔══██║██╔══╝░░██╔══██╗██║░░██║
██║░░██║███████╗██████╔╝██║░░░░░╚█████╔╝██║░╚███║██████╔╝██║░░╚██╔╝░░███████╗  ██║░░██║███████╗██║░░██║╚█████╔╝
╚═╝░░╚═╝╚══════╝╚═════╝░╚═╝░░░░░░╚════╝░╚═╝░░╚══╝╚═════╝░╚═╝░░░╚═╝░░░╚══════╝  ╚═╝░░╚═╝╚══════╝╚═╝░░╚═╝░╚════╝░

░██████╗███████╗░█████╗░████████╗██╗░█████╗░███╗░░██╗
██╔════╝██╔════╝██╔══██╗╚══██╔══╝██║██╔══██╗████╗░██║
╚█████╗░█████╗░░██║░░╚═╝░░░██║░░░██║██║░░██║██╔██╗██║
░╚═══██╗██╔══╝░░██║░░██╗░░░██║░░░██║██║░░██║██║╚████║
██████╔╝███████╗╚█████╔╝░░░██║░░░██║╚█████╔╝██║░╚███║
╚═════╝░╚══════╝░╚════╝░░░░╚═╝░░░╚═╝░╚════╝░╚═╝░░╚══╝

*/

@media (max-width: 1024px) {
  .content-hero,
  .box-headline {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}


swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

swiper-slide img {
  display: block;
  width: 100%;
}