<div class="grid-layout">
  <section class="s-footer">
    <div id="links-footer">
      <a class="a-text" href="/">
        <img src="/assets/logo-2.png" alt="Logo Associação Jovens do Futuro" />
      </a>

      <a class="a-text" href="/pages/sobre/">Sobre Nós</a>
      <a class="a-text" href="/pages/servicos/">Serviços</a>
      <a class="a-text" href="/pages/contato/">Contato</a>
    </div>
    <div id="contact-footer">
      <a
        href="https://www.instagram.com/ajovensdofuturo/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-instagram icon-link"></i>
      </a>
      <a
        href="https://www.linkedin.com/company/associa%C3%A7%C3%A3o-jovens-do-futuro/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-linkedin icon-link"></i>
      </a>
    </div>
  </section>

  <div class="line"></div>

  <span>
    © 2024 Associação Jovens do Futuro. Todos os direitos reservados.
  </span>
</div>
