<header>
  <nav>
    <ul>
      <li>
        <a href="">
          <img
            src="../assets/logo-header.png"
            alt="Logo da Associação Jovens do Futuro"
          />
        </a>
      </li>
      <ul>
        <li>
          <a href="#Sobre Nós">Sobre Nós</a>
        </li>
        <li>
          <a href="#Serviços">Serviços</a>
        </li>
        <li>
          <a href="#Contato">Contato</a>
        </li>
        <li>
          <a href="#Seja um Colaborador">Seja um Colaborador</a>
        </li>
        <li>
          <button>Doe Agora <span>&#8594;</span></button>
        </li>
      </ul>
    </ul>
  </nav>
</header>
