<div class="grid-layout">
  <nav>
    <ul>
      <li>
        <a href="/">
          <img
            src="/assets/logo.png"
            alt="Logo da Associação Jovens do Futuro"
          />
        </a>
      </li>

      <button class="menu"></button>

      <ul class="box-links">
        <li>
          <a class="a-text" href="/pages/sobre/">Sobre Nós</a>
        </li>
        <li>
          <a class="a-text" href="/pages/servicos/">Serviços</a>
        </li>
        <li>
          <a class="a-text" href="/pages/contato/">Contato</a>
        </li>
        <li>
          <a href="/pages/doacoes/">
            <button class="button button-text">Doe Agora &#8594;</button>
          </a>
        </li>
      </ul>
    </ul>
  </nav>
</div>
