<div class="grid-layout">
  <nav>
    <ul>
      <li>
        <a href="/">
          <img
            src="/assets/logo-header.png"
            alt="Logo da Associação Jovens do Futuro"
          />
        </a>
      </li>
      <ul>
        <li>
          <a href="/pages/sobre/">Sobre Nós</a>
        </li>
        <li>
          <a href="/pages/servicos/">Serviços</a>
        </li>
        <li>
          <a href="/pages/contato/">Contato</a>
        </li>
        <li>
          <a href="/pages/seja-colaborador/">Seja um Colaborador</a>
        </li>
        <li>
          <button>Doe Agora &#8594;</button>
        </li>
      </ul>
    </ul>
  </nav>
</div>
